.Container {
    margin-bottom: 4rem;
}

.ForecastCardsWrapper {
    max-width: 19rem;
    margin: auto;
}

@media (min-width: 764px) {

    .ForecastCardsWrapper {
        max-width: 100%;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
}

@media (min-width: 1024px) {
    .ForecastCardsWrapper {
        display: block;
    }
}
